// STYLE GLOBAL //

.container-fluid{
    padding-left: 50px !important;
    padding-right: 50px !important;
}

p{
    margin: 0px !important;
    padding: 0px !important;
}

.navbar{
    padding-top: 0px !important;
    img{
        width: 50px
    }
    .nav-item{
        .nav_thumbnail_active{
            height: 8px;
            width: 100%;
            background-color: var(--bs-primary);
        }
        .nav_thumbnail_nonactive{
            height: 8px;
            width: 100%;
        }
        &:hover{
            .nav_thumbnail_nonactive{
                background-color: var(--bs-primary);
            } 
        }
    }
}































@import "../style/abstracts/variables";

@import "../../node_modules/bootstrap/scss/bootstrap";